
<%= form_for(@commercialpropertiesforsale, :html => { :multipart => true }) do |f| %>
  <% if @commercialpropertiesforsale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commercialpropertiesforsale.errors.count, "error") %> prohibited this commercialpropertiesforsale from being saved:</h2>

      <ul>
      <% @commercialpropertiesforsale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class="thumbnail">
  
 <div class="row">
  <div class="left">
    <div class="col-md-4">
   <%= label_tag :Codigo_Medicamento %><br>
   <%= f.text_field :mls_number, class: "form-control" %><br>
  </div>
  <div class="col-md-4">
    <%= label_tag :UP %><br>
    <%= f.select :action, class: "form-control" %><br>
  </div>
  <div class="col-md-4">
    <%= label_tag :Nombre_del_Medicamento %><br>
    <%= f.text_area :property_description, class: "form-control" %><br>
  </div>
  <br>
 
  <div class="col-md-4">
    <%= label_tag :Saldo_a_Inicio_del_Mes %><br>
    <%= f.text_field :zipcode, class: "form-control" %><br>
  </div>
  

   
   <div class="col-md-4">
    <%= label_tag :Cantidad_total_recibida_durante_el_Mes %><br>
    <%= f.text_field :officephone, class: "form-control" %><br>
  </div>
 
     <div class="col-md-4">
   <%= label_tag :email_de_encargado %><br>
    <%= f.text_field :emailagent, class: "form-control" %><br>
    </div>
     <div class="col-md-4">
    <%= label_tag :Consumo_total_Mes %><br>
    <%= f.text_field :agentphone, class: "form-control" %><br>
    </div>
      <div class="col-md-4">
    <%= label_tag :Invetario_Fisico %><br>
    <%= f.text_field :assetclass, class: "form-control" %><br>
    </div> 
  <div class="col-md-4">
    <%= f.label :Fecha_Vencimiento %><br>
    <%= f.date_field :construction_type, class: "form-control" %><br>
  </div>
  
   <div class="col-md-4">
    <%= f.label :Numero_Pacientes %><br>
    <%= f.number_field :year_completed, class: "form-control" %><br>
  </div>
   <div class="col-md-4">
    <%= label_tag :Cantidad_Solicitada %><br>
    <%= f.number_field :lotsqft, class: "form-control" %><br>
  </div>
   <div class="col-md-4">
    <%= f.label :Stock_Seguridad %><br>
    <%= f.text_field :status, class: "form-control" %><br>
  </div>
  
  <div class="col-md-4">
    <%= label_tag :Observaciones %><br>
    <%= f.text_area :floridarea, class: "form-control" %><br><br>
  </div>
  
  <br>
  <div class="col-md-4">
    <%= f.label :Foto_Medicamento %>  <%= f.file_field :image, class: "form-control" %><br><br>
  </div>

  <div class="col-md-4">
    <%= f.submit "Crear Perfil", class: "btn btn-danger"  %><br>
  </div>
  </div>
</div>
  <br>
<% end %>
</div>

