<h4><strong>Search Results:</strong></h4><br>
 <div class="thumbnail">
    <div class="center"> 
    <div class="row">
    <% @commercialpropertiesforsales.each do |commercialpropertiesforsale| %>
    <div class="col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag(commercialpropertiesforsale.image.url), commercialpropertiesforsale %>
    <div class="caption">
       <h4><strong><%= label_tag :nil, "NOMBRE DEL MEDICAMENTO" %></strong></h4>
      <h3><strong><%= commercialpropertiesforsale.property_description %></strong></h3>
      <p>
        <p><%= t('listed_by', user: commercialpropertiesforsale.user.name) %></p>
        <h5><strong><%= label_tag :nil, "CODIGO DEL MEDICAMENTO" %></h5></strong><h5><%= commercialpropertiesforsale.mls_number %></h5><br>
         <h5><strong><%= label_tag :nil, "SALDO AL INICIO DEL MES" %></h5></strong><h4><%= commercialpropertiesforsale.zipcode %></h5><br>
        <h5><strong><%= label_tag :nil, "FECHA DE VENCIMIENTO" %></h5></strong><h5><%= commercialpropertiesforsale.construction_type %></h5><br>
        <h5><strong><%= label_tag :nil, "CANTIDAD DE PACIENTES" %></h5></strong><h5><%= commercialpropertiesforsale.year_completed %></h5><br>
        <h5><strong><%= label_tag :nil, "U.P." %></h5></strong><h4><%= commercialpropertiesforsale.action %></h4><br>
       
      </p>
        <td><%= link_to 'Show', commercialpropertiesforsale, class: "btn btn-warning" %></td>
        <% if (user_signed_in?) && (current_user == commercialpropertiesforsale.user) %>
        <td><%= link_to 'Edit', edit_commercialpropertiesforsale_path(commercialpropertiesforsale), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', commercialpropertiesforsale, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %></td>
         <% end %>
    </div>
  </div>
</div>
    <% end %>
  </div>
</div>
</div>
<div class="left">
<%= link_to 'Back', commercialpropertiesforsales_path %>
 </div>