<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @commercialpropertiesforsale.image.url %>
      <br>
      <strong>OBSERVACIONES Y DETALLES DEL MEDICAMENTO:</strong><br>  
      <%= @commercialpropertiesforsale.floridarea %>
      <br>
      <br>
      <br>
      </div>

      <br>
  </div>
  <div class="col-md-6">
    <h4><strong>INFORMACION GENERAL DEL INVENTARIO DE MEDICAMENTOS</strong></h4><br>
    <strong>NOMBRE DEL PRODUCTO:</strong> 
    <h4><strong><%= @commercialpropertiesforsale.property_description %></strong></h4>
    <div class ="col-md-12">
     <strong>UP</strong>  
     <%= @commercialpropertiesforsale.action %><br>
   </div><br>
    <div class ="col-md-12">
     <strong>CODIGO DEL MEDICAMENTO</strong>  
     <%= @commercialpropertiesforsale.mls_number %><br>
   </div>
   <br>
    <div class ="col-md-12">
     <strong>FECHA DE VENCIMIENTO:</strong>  
     <%= @commercialpropertiesforsale.construction_type %><br>
  </div>
   <div class ="col-md-12">
    <strong>CONSUMO TOTAL DEL MES:</strong>  
     <%= @commercialpropertiesforsale.agentphone %><br>
  </div>
   <div class ="col-md-12">
    <strong>NUMERO DE PACIENTES</strong>  
  <%= @commercialpropertiesforsale.year_completed %><br>
 </div>
  <div class ="col-md-12">
   <strong>STOCK DE SEGURIDAD</strong> 
 <%= @commercialpropertiesforsale.status %><br>
</div>

<br>
<br>

    <br>
    <br>
   
<br>
<br>




<% if current_user == @commercialpropertiesforsale.user %>
<%= link_to 'Edit', edit_commercialpropertiesforsale_path(@commercialpropertiesforsale), class: "btn btn-link"  %> 
<% end %>|
<%= link_to 'Back', commercialpropertiesforsales_path, class: "btn btn-link"  %>
