<div class="row" id="featuresHeading">
    <div class="col-12">
         <%= t('servicestitle_html') %>
        <p class="lead"></p>
    </div>
</div>


<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('architect_html') %>
               
            </div>
            <%= image_tag("architect.png", :size => "200x200", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
             <%= link_to t('searchservices'), arquitects_path, class: "btn btn-success", data: {no_turbolink: true} %>
        </div>
    </div>
<div class="col-md-4 feature">
    <div class="panel">
            <div class="panel-heading">
                <%= t('lawyer_html') %>
                
            </div>
              <%= image_tag("titlecompany.png", :size => "200x200", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), lawyers_path, class: "btn btn-success", data: {no_turbolink: true} %>
        </div>
</div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('engineer_html') %>
                
            </div>
             <%= image_tag("medicamento.jpg", :size => "200x200", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-success", data: {no_turbolink: true} %>
        </div>
        </div>
</div>
